# Folders
.mixin.out/
.vscode/
bruh/
crash-reports/
debug/
ldlib/
lightspeed-cache/
local/
logs/
modernfix/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/

# Files
.curseclient
.qmenu_opened.marker
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
kubejs/README.txt

# Configs
config/spark
config/tellme
config/attributefix.json
config/rubidium*
config/sodium*

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
