# Folders
.mixin.out/
.vscode/
bruh/
crash-reports/
debug/
ldlib/
lightspeed-cache/
local/
logs/
modernfix/
mods/
patchouli_books/
resourcepacks/
saves/
schematics/
screenshots/

# Files
.curseclient
.qmenu_opened.marker
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
usernamecache.json
*.log
kubejs/reference

# Configs
config/spark
config/attributefix.json
config/rubidium*
config/sodium*
config/darkmodeeverywhereshaders.json
config/reforgium-renderer.properties
config/roughlyenoughitems/
config/powah*
config/sound_physics_remastered/
config/tellme/
config/jade/
config/*.bak


defaultconfigs/ftbessentials-server.snbt
defaultconfigs/gag/

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta
